<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
<title></title>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
 <br/>
<style type="text/css">
<!--
	p {margin: 0; padding: 0;}	.ft10{font-size:72px;font-family:Times;color:#fefdfd;}
	.ft11{font-size:43px;font-family:Times;color:#000000;}
	.ft12{font-size:57px;font-family:Times;color:#000000;}
	.ft13{font-size:28px;font-family:Times;color:#000000;}
	.ft14{font-size:45px;font-family:Times;color:#000000;}
	.ft15{font-size:28px;line-height:41px;font-family:Times;color:#000000;}
-->
</style>
</head>

<body bgcolor="#A0A0A0" vlink="blue" link="blue">
    <div>
        </div>
        <div>
        <input type="button" value="Get Certificate" style="height:100px;width:300px;background-color:aqua;color:black;font-size: 30px;"(click)="convetToPDF()"/>
        <br/>
        <br/>
        </div>
        
            
<div id="page1-div" style="position:relative;width:1188px;height:917px;">
    <div id="contentToConvert">
<img width="1188" height="917" src="/assets/images/target001.png" alt="background image"/>
<p style="position:absolute;top:376px;left:366px;white-space:nowrap" class="ft10">Pravallika&#160;Nakarikanti</p>
<p style="position:absolute;top:300px;left:425px;white-space:nowrap" class="ft11">&#160;&#160;&#160;&#160;&#160;&#160;&#160;This&#160;is&#160;presented&#160;to</p>
<p style="position:absolute;top:220px;left:372px;white-space:nowrap" class="ft12">CERTIFICATE&#160;OF&#160;TEACHING</p>
<p style="position:absolute;top:830px;left:826px;white-space:nowrap" class="ft15">District&#160;Coordinator&#160;<br/>EDUNATE</p>
<p style="position:absolute;top:454px;left:388px;white-space:nowrap" class="ft14">for&#160;conducting&#160;a&#160;session&#160;about</p>
<p style="position:absolute;top:520px;left:380px;white-space:nowrap" class="ft14">&#34;Functional&#160;Programming&#160;with</p>
<p style="position:absolute;top:586px;left:607px;white-space:nowrap" class="ft14">Haskell&#34;</p>
<p style="position:absolute;top:652px;left:552px;white-space:nowrap" class="ft14">on EDUNATE</p>
</div>
</div>
</body>

</html>
